*, *:before, *:after {
    box-sizing: inherit;
}

/* The CSS box-sizing property allows us to include the
padding and border in an element's total width and height. */
html {
    box-sizing: border-box;
}

section {
    background-color: lightgray;
}

.header--xxlarge {
    text-align: center;
    background-color: lightskyblue;
}

.representative__info {
    display: flex;
    width: 100%;
    background-color: aqua;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    flex: auto;
}

.representative__info_photo {
    flex: 1;
    justify-content: center;
}

.representative__info_text {
    flex: 1;
    justify-content: center;
    font-weight: bold;
}

.representative__committees {
    background-color: aquamarine;
}

.representative__legislation {
    background-color: azure;
}

.representative__info, .representative__committees, .representative__legislation {
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    margin: 5px;
    background-color: lightseagreen;
}
