*, *:before, *:after {
    box-sizing: inherit;
}

/* The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
html {
    box-sizing: border-box;
}

section {
    background-color: lightgray;
}


.representative__info {
    display: flex;
/*    width: 100%; */
    flex-flow: row nowrap;
    justify-content: space-evenly; 

    background-color: aqua;
}

.representative__info_photo {
}

.representative__info_text {
    font-size: .9em;
    font-weight: bold;
}

.representative__committees {
    background-color: aquamarine;
}

.representative__legislation {
    background-color: azure;
}

.representative__info, .representative__committees, .representative__legislation, .header--xxlarge {
    width: 100%;
    border: 1px solid black;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    padding: .8em;
    margin: .3em;
    background-color: lightseagreen;
}

.header--xxlarge {
    text-align: center;
    background-color: lightskyblue;
}
